* {
    margin: 0;/*eliminar espacios que existan por alli */
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}
.navegacion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding:30px 40px ;
    transition: 0.7s;
    align-items: center;
    background-color: #333;
    color: white;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacion .logo {
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links li a {
    position: relative;/*mantengan la posicion*/
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.5 ease;
    cursor: pointer;
}
.nav-links li a:hover {
    padding: 5px 5px;
    background: #fff;
    color: black;
    border-radius: 15px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5%;
    background-color: #333;
    color: white;
    min-height: 80vh;
    
}

.hero-content {
    max-width: 50%;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    margin-bottom: 2rem;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

.start-button, .cv-button {
    padding: 0.7rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.start-button {
    background-color: #28a745;
    color: white;
    border-radius: 2vh ;
}

.cv-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 2vh;
}

.hero-image img {
    max-width: 250px;
    border-radius: 50%;
}

.container_padre{
    display: flex;
    margin: 20px;

}
.img-proy{
    height: auto;
    width: 100%;  
}
.proyect h2{
    font-size: 2rem;
    text-align: center;
}
.cont_hijo{
    margin: 10px;
    background-color: #333;
    border-radius: 5;
}

.bt2,.bt3,.bt1{
    order: none;
    cursor: pointer;
    font-size: 1rem; 
    border-radius: 1vh;
    padding: 3px 3px;
    align-items: center;
}
.bt1{
    margin-left: 5%;
    margin-top: 3%;
}
.bt2{
    margin-left: 17%;
    margin-bottom: 5%;
}
.bt3{
    margin-left: 28%;
    margin-bottom: 5%;
}
.proyect{
    padding: 3%;
    background-color: slategrey;
} 
.proyect h2{
    padding-bottom: 3%;
    color: white;
}
.proyect h3{
    color: #fff;
}
.proyect p{
    color: whitesmoke;
}
.texto_hijo{
    text-align: left;
    margin: 10%;
}

.cont_hijo h3{
    padding-top: 5%;
    text-align: center;
}

.text-proyect{
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
}
.fooder{
    background-color:#333;
    color: white;
}
.fooder h2{
    text-align: center;
    font-size: 2rem;
}
.contacots-text{
    display: flex;
}





/* proyecto : pensar en un tema, hacer un landin page que es la prueba del bimestre 
venir el dia 12 de noviembre con el trabajo
11 proyecto terminado 
12 clase normal 
15 de noviembre defensa del proyecto
en cada seccion imagenes slaider, aumentitos, tablas, video, mapa, cover 
buscar erramientas para el rendimeinto de las paginas (REALIZAR PRUEVAS DE RENDIMIENTOS)
*/